<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Book a Space</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="/static/images/download.png" alt="BNB logo">
        </div>
        <nav>
            <ul>
                {% if logged_in %}
                    <li><a href="/spaces">Spaces</a></li>
                    <li class="pipe">|</li>
                    <li><a href="/requests">Requests</a></li>
                    <li class="pipe">|</li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/signup">Sign up</a></li>
                    <li class="pipe">|</li>
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

<style>
::-webkit-scrollbar {
width: 10px;
}   
</style>

    <!-------------------------------TITLES--------------------------------------->
<div class="titles">
    <h1>Book a Spaces</h1>

<h4>Discover Tranquil Retreats: Your Perfect Getaway Awaits at Our Cozy B&B Rooms</h4>

</div>


<!---------------------BOOK-A-SPACE-FORM PART------------------------->


<div class="book-a-space-form">
    <form action="/spaces/new" method="get">
        <input type="submit" id="submit_space" value="List a Space">
    </form>

    <form action="/spaces/search" method="post">
        <div class="inline-inputs">
        
            <label for="available-from">
            <h5>Available from (DD/MM/YY)</h5>
            <input type="date" id="available-from" name="available-from" required>
            </label>
            
        <label for="available-to">
        <h5>Available to (DD/MM/YY)</h5>
            <input type="date" id="available-to" name="available-to" required>
        </label>
        
            <input type="submit" id="submit" value="List Spaces">
        </div>
    </form>
</div>  


<!--------------CONTAINERS-------------------------------->
{% if spaces %}
    {% for space in spaces %}
      <div class="main-container">
          <div class="container-bookspace">
              <a class="sub-container-bookspace" href="/spaces/{{ space.id }}">
                  <div>
                   <h3>{{ space.title }}</h3>
                    <p>{{ space.description[:100] }}></p>
                  </div>
                  <img src="/static/images/476325_arrow_circle_next_right_arrows_icon (1).png" alt="">
              </a>
          </div>
      </div>
    {% endfor %}
{% endif %}
</body>
</html>
