<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Book a Space</title>
    <link rel="stylesheet" type="text/css" href="/Users/francescomiccio/airbnb_project/static/style.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="/Users/francescomiccio/airbnb_project/static/images/download.png" alt="BNB logo">
        </div>
        <nav>
            <ul>
                {% if logged_in %}
                    <li><a href="#">Spaces</a></li>
                    <li class="pipe">|</li>
                    <li><a href="#">Requests</a></li>
                    <li class="pipe">|</li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/signup">Sign up</a></li>
                    <li class="pipe">|</li>
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

<style>
::-webkit-scrollbar {
width: 10px;
}   
</style>

    <!-------------------------------TITLES--------------------------------------->
<div class="titles">
    <h1>Book a Spaces</h1>

<h4>Discover Tranquil Retreats: Your Perfect Getaway Awaits at Our Cozy B&B Rooms</h4>

</div>


<!---------------------BOOK-A-SPACE-FORM PART------------------------->


<div class="book-a-space-form">
    <form action="/book-a-space" method="post">
        <input type="submit" id="submit_space" value="List a Space">

        
        <div class="inline-inputs">
        
            <label for="available-from">
            <h5>Available from (DD/MM/YY)</h5>
            <input type="text" id="available-from" name="available-from" required>
            </label>
            
        <label for="available-to">
        <h5>Available to (DD/MM/YY)</h5>
            <input type="text" id="available-to" name="available-to" required>
        </label>
        
            <input type="submit" id="submit" value="List Spaces">
        </div>
    </form>
</div>  


<!--------------CONTEINERS-------------------------------->

    <div class="main-container">
        
       
        <a href="#">
        
        <div class="sub-container">
            
          
            <h3>Cozy Cabin</h3>
            <p>Experience the charm of a rustic cabin nestled in the woods.></p>
        
    </div>
</a>
</div>
</body>
</html>























<!----
<div class="book-a-space-form">

    <form action="/book-a-space" method="post">
        <input type="submit" id="submit" value="List a Space">
        
        <label for="available from">Available from (DD/MM/YY):</label>
        <input type="available from" id="available-from" name="available from" required>

        <label for="available to">Available to (DD/MM?YY)</label>
        <input type="available to" id="available-to" name="available to" required>

        <input type="submit" id="submit" value="List Spaces">
    </form>
</div>

<div class="book-a-space-form">
    <form action="/book-a-space" method="post">
        <h2>List a Space</h2>
        <input type="submit" id="submit" value="List a Space">
        
        <div class="inline-inputs">
            <label for="available-from">Available from (DD/MM/YY):</label>
            <input type="text" id="available-from" name="available-from" required>

            <label for="available-to">Available to (DD/MM/YY)</label>
            <input type="text" id="available-to" name="available-to" required>

            <input type="submit" id="submit" value="List Spaces">
        </div>
    </form>
</div>
