<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="/static/images/download.png" alt="BNB logo">
        </div>
        <nav>
            <ul>
                {% if logged_in %}
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/signup">Sign up</a></li>
                    <li class="pipe">|</li>
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>


<!-------------------THIS IS THE SIGN-UP-FORM PART------------------------->

    <div class="log-in-form">
        <h2>Log in</h2>
        {% if not success %}
            <p>Incorrect e-mail or password</p>
        {% endif %}
        <form action="/login" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" id="submit-login" value="Log in">
        </form>
    </div>


</body>
</html>