<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Book a Space</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="/static/images/download.png" alt="BNB logo">
        </div>
        <nav>
            <ul>
                {% if logged_in %}
                    <li><a href="/spaces">Spaces</a></li>
                    <li class="pipe">|</li>
                    <li><a href="/requests">Requests</a></li>
                    <li class="pipe">|</li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/signup">Sign up</a></li>
                    <li class="pipe">|</li>
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>



    <!-------------------------------TITLES--------------------------------------->
<div class="titles">
    <h1>Requests</h1>

<h4>Discover Tranquil Retreats: Your Perfect Getaway Awaits at Our Cozy B&B Rooms</h4>

</div>

<!-----------------------CONTAINERS----------------->

<div class="comments">
    <h3>Requests I've made</h3>
    <h3>Requests I've received</h3>
    <!--<h3>Requests I've made</h3>-->
</div>


<div class="main-container-request">
<div class="columns">
    {% if booked_spaces %}
        {% for booking in booked_spaces %}
            <div class="container-try">
                <a class="sub-container-request" href="/spaces/{{ booking.listing.id }}">
                    <div class="text">
                    <h3>{{ booking.listing.title }}</h3>
                    <p>{{ booking.listing.description[:100] }}</p>
                    </div>
                    <img src="/static/images/476325_arrow_circle_next_right_arrows_icon (1).png" alt="">
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="columns">
    {% if requests %}
        {% for request in requests %} 
            <div class="container-try"> 
                <a class="sub-container-request" href="/requests/{{ request.id }}">
                    <div class="text">
                    <h3>{{ request.listing.title }}</h3>
                    <p>{{ request.listing.description[:100] }}</p>
                    </div>
                    <img class="arrow" src="/static/images/476325_arrow_circle_next_right_arrows_icon (1).png" alt="">
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>

    
</div>

<!---
<table>
    <thead>
      <tr>
        <th>Column 1</th>
        <th>Column 2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Data 1A</td>
        <td>Data 1B</td>
      </tr>
      <tr>
        <td>Data 2A</td>
        <td>Data 2B</td>
      </tr>
      <tr>
        <td>Data 3A</td>
        <td>Data 3B</td>
      </tr>
    </tbody>
  </table>

-->








</body>
</html>

