<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="/static/images/download.png" alt="BNB logo">
        </div>
        <nav>
            <ul>
                {% if logged_in %}
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/signup">Sign up</a></li>
                    <li class="pipe">|</li>
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
<!-------------------------------TITLES--------------------------------------->
<div class="titles">
    <h1>Feel at home, anywhere</h1>

<h4>Escape to our charming BnB/hotel and indulge in a world of comfort and 
    relaxation, where every moment is a journey of delightful discovery</h4>

<h2>Sign up to MakersBnB</h2>   


</div>









<!-------------------THIS IS THE SIGN-UP-FORM PART------------------------->

    <div class="sign-up-form">
        <h2>Sign Up</h2>

        {% if errors %}
            {% for error in errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <form action="/signup" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="password-repeat">Repeat Password:</label>
            <input type="password" id="password-repeat" name="password-repeat" required>

            <input type="submit" id="submit" value="Sign Up">
        </form>
    </div>


</body>
</html>
